#collection-carousel {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    column-gap: 8px;
    row-gap: 8px;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
    #collection-carousel {
        height: auto;
    }
}

#collection-loader {
    flex: 1;
    text-align: center;
}