h2 {
    font-family: "Kanit", sans-serif;
    font-size: 2rem;
    margin: 1rem 0;
    font-weight: 500;
    color: inherit;
}

@media (max-width: 768px) {
    h2 {
        font-size: 1.4rem;
        margin: 0.5rem 0;
    }
}