footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 16px;
    bottom: 0;
    font-family: "Kanit", sans-serif;
    letter-spacing: 0.1rem;
    font-size: 0.9rem;
    font-weight: 300;
}

footer * {
    margin: 1rem;
}

@media (max-width: 768px) {
    footer {
        font-size: 0.8rem;
        margin-left: 0;
        flex-direction: column;
    }

    footer * {
        margin: 4px;
    }
}