.scroll-text {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  text-transform: uppercase;
}

.scroll-down {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.caret {
  opacity: 0;
  width: 8px;
  height: 8px;
  border-style: solid;
  border-color: white;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg) translateX(-50%);
  left: 50%;
  top: 1rem;
  position: relative;
  animation: blink-with-ease 2s infinite;
}

.scroll-down .caret:nth-child(3) {
  animation-delay: 0.2s;
}

.scroll-down .caret:nth-child(4) {
  animation-delay: 0.4s;
}


@keyframes blink-with-ease {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}