.loading-content-container {
    position: relative;
}

.loading-container {
    position: relative;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loading-container, .error-message {
    text-align: center;
}