header {
    flex-grow: 0;
    flex-shrink: 1;
    width: 100%;
}

@media (max-width: 768px) {
    header {
        min-height: 48px;
    }
}

header[data-immersive="true"] {
    position: absolute;
}

nav#header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    z-index: 1;
}

nav#header[data-immersive="true"] {
    color: white;
    text-shadow: 0 1px 2px black;
    background: none;
    box-shadow: none;
}

#burger {
    background: none;
    border: none;
    padding: 16px;
    width: 48px;
    height: 48px;
    align-self: flex-end;
    font-size: 1.2rem;
    cursor: pointer;
    display: none;
    text-align: right;
}

nav#header a {
    padding: 16px;
    color: inherit;
    font-family: "Kanit", sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    text-align: right;
    background-color: white;
}

nav#header[data-immersive="true"] a {
    background: none;
}

@media (max-width: 768px) {

    nav#header {
        width: 100%;
        flex-direction: column;
        margin: 0;
        top: 0;
        z-index: 10000;
        position: absolute;
    }

    nav#header[data-open="true"][data-immersive="false"] {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
    }

    nav#header button {
        display: inline-block;
        text-wrap: nowrap;
    }

    nav#header a, nav#header button {
        padding: 8px 16px;
    }
}
