.collection-section {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.collection-image {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 200px;
}

.collection-image img {
  width: 100%;
  height: auto;
}

.collection-section .collection-info {
  flex-grow: 2;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.collection-section .collection-info h2 {
  margin: 0;
}
