.collection-section {
  display: flex;
  align-items: flex-start;
  cursor: pointer;
}

.collection-image {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 200px;
}

.collection-image img {
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
  height: auto;
}

.collection-section .collection-info {
  flex-grow: 2;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.collection-section .collection-info h2 {
  margin: 0;
}

@media screen and (max-width: 500px) {
  .collection-section {
    flex-direction: column;
    align-items: stretch;
  }

  .collection-section .collection-info {
    padding: 1rem 0;
  }

  .collection-section .collection-info h2 {
    text-align: center;
  }

  .collection-section .collection-info p {
    display: none;
  }
}
